@import url('../../yudu-component-kit/src/lib/styles/index.design-system.scss');


.yd-navbar__container {
    position: relative;
    display: flex;
    background-color: var(--yd-color-surface-secondary);
    border-radius: var(--radius-minimal);
    border: var(--border-xs) solid var(--yd-color-border-tertiary);
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 3.4375rem;
        padding: var(--spacing-xs) var(--spacing-sm);
        width: 100%;

        a {
            display: flex;
        }

        .right-block {
            display: flex;
            align-items: center;
            gap: var(--spacing-md);

            ul {
                display: flex;
                gap: var(--spacing-xs);
                height: 100%;
                li {
                    a {
                        display: flex;
                        gap: var(--spacing-xs);
                        align-items: center;
                        padding: var(--spacing-xs);
                        display: flex;
                        align-items: center;
                        border-radius: var(--radius-minimal);
                        cursor: pointer;
                        
                        &:hover { 
                            background-color: var(--yd-color-surface-quaternary); 
                        }
            
                        &:active { 
                            background-color: var(--yd-color-surface-primary); 
                        }
                    }
        
                    
                }
            }
            .semisection__container {
                display: flex;
                gap: var(--spacing-sm);

                .search__container {
                    display: flex;
                    gap: var(--spacing-sm);

                }
            }
            .notifications__container {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 2.1875rem;
                height: 2.1875rem;
                border-radius: var(--radius-full);
                border: var(--border-xs) solid var(--yd-color-border-primary);
                
                &:hover { 
                    background-color: var(--yd-color-surface-quaternary); 
                }

                &:active { 
                    background-color: var(--yd-color-surface-primary); 
                }
            }

            .user__container {
                display: flex;
                cursor: pointer;
                border-radius: var(--radius-full);
                border: var(--border-xs) solid var(--yd-color-border-primary);
                
                img {
                    border-radius: var(--radius-full);
                    overflow: hidden;
                }
            }
        }
    }
}


.yd-user-dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--yd-color-surface-secondary);
    border: var(--border-xs) solid var(--yd-color-border-tertiary);
    gap: var(--spacing-sm);
    position: absolute;
    top:110%;
    right: 0;
    width: 16rem;
    overflow: hidden;
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
    padding: var(--spacing-xs);
    border-radius: var(--radius-minimal);
    transition: clip-path, ease-in-out, .3s;
    pointer-events: none;
    
    &.open {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: clip-path, ease-in-out, .3s;
        pointer-events: all;
    }

    .hr {
        border-top: var(--border-xs) solid var(--yd-color-border-tertiary);
    }

    .user__row {
        display: flex;
        gap: var(--spacing-xs);
        img {
            overflow: hidden;
            border: var(--border-xs) solid var(--yd-color-border-primary);
            border-radius: var(--radius-full);
        }
    }

    .dropdown-menu__row {
        .dropdown-menu {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
    }

    .sign-out__row {
        li {
            width: 100%;
        }
    }
}