<main>
    <yd-navbar
        (searchEmit)="hanldeSearchEmit($event)"
        (signOutEmit)="signOut()"
        [headerMenu]="headerMenu()"
        [companyLogo]="companyLogo()"
        [profileImg]="profileImg()"
        [userMenu]="userMenu()"
        [subTitle]="'Erick Alcocer'"
        [title]="'admin'"
        [notificationsTitle]="translation.translate('notifications.title')"
        [signOutTitle]="translation.translate('signout')"
        [placeholder]="translation.translate('input.search')"
        [langMenu]="langMenu()"
        [themeMenu]="themeMenu()"
    />
    <router-outlet/>

</main>