<main>
    <yd-navbar
        (signOutEmit)="signOut()"
        [companyLogo]="companyLogo()"
        [notifications]="notifications()"
        [profileImg]="companyLogo()"
        [userMenu]="userMenu()"
        [subTitle]="'Erick Alcocer'"
        [title]="'admin'"
        [themeMenu]="themeMenu()"
        [langMenu]="langMenu()"
        [filtersOptions]="filtersOptions()"
        notificationsTitle="notifications.title"
        signOutTitle="signout"
        placeholder="input.search"
    />
    <router-outlet/>

</main>