<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <yd-input
        type="email"
        placeholder="Correo Electronico"
        formControlName="email"
        icon="address-book"
        fullSize
    />
    <yd-input
        placeholder="First Name"
        formControlName="firstName"
        [hasError]="true"
        [errorMessage]="'Error message'"
    />
    <yd-input
        placeholder="Last Name"
        formControlName="lastName"
        isDisabled
    />
    <yd-input
        type="password"
        placeholder="Password"
        formControlName="password"
    />
    <button type="submit">
        Submit
    </button>
</form>
<pre> {{ loginForm.value | json }}</pre> -->