<nav>
    <section class="left-block">
        <div class="bars__container" (click)="openSidebar()">
            <yd-icon name="bars"/>
        </div>
        @if (navbarMenu().company.logoRoute) {
            <a [routerLink]="navbarMenu().company.logoRoute" 
                class="company-logo route-active">
                <img 
                    [src]="navbarMenu().company.logoImg"
                    width="35"
                    height="35"
                    alt="company-logo"
                >
            </a>
        }
        @else {
            <span class="company-logo">
                <img 
                    [src]="navbarMenu().company.logoImg"
                    width="35"
                    height="35"
                    alt="company-logo"
                >
            </span>
        }
        @if(navbarMenu().username) {
            <span 
                class="
                    font__size--b2
                    font__color--primary
                    font__weight--semibold
                ">
                {{ navbarMenu()!.username }}
            </span>
        }
    </section>
    <section class="right-block">
        <div class="semisection__container">

            <div class="search__container">
                <yd-input-search
                    (emitQuery)="handleEmitSearch($event)"
                    [placeholder]="navbarMenu().searchPlaceholder || 'Search'"
                />
            </div>
            
            <div class="buttons__container">
                <div class="user__container">
                    <img 
                        [src]="navbarMenu().profileImg"
                        width="35"
                        height="35"
                        alt="company-logo"
                        (click)="toggleSettings()"
                    >
                    <yd-user-dropdow-menu
                        (signOutEmit)="handleSignOut()"
                        (toggleEmit)="handleToggleSettingsEmmit($event)"
                        [dropdownIsOpen]="settingsDropdownIsOpen()"
                        [userMenu]="navbarMenu().navMenu"
                        [profileMenu]="navbarMenu().profileMenu"
                        [profileImg]="navbarMenu().profileImg"
                        [username]="navbarMenu().username"
                        [fullName]="navbarMenu().fullName"
                        [langMenu]="navbarMenu().langMenu"
                        [themeMenu]="navbarMenu().themeMenu"
                        [signOutTitle]="signOutTitle()"
                    />
                </div>
            </div>
        </div>
    </section>
</nav>

<yd-left-sidebar 
    [isSidebarOpen]="isSidebarOpen()"
    [sidebarMenu]="navbarMenu().navMenu"
    (toggleEmmit)="handleSidebarToggle($event)" 
/>
