<nav>
    <a [routerLink]="companyLogoRoute()">
        <img 
            [src]="companyLogo()"
            width="30"
            height="30"
            alt="company-logo"
        >
    </a>
    <section class="right-block">
        <ul class="navbar-menu-list">
            @for (item of navMenu(); track $index) {
                <li>
                    <a [routerLink]="item.route">
                        <yd-icon
                            [name]="item.icon"
                        />
                        <span class="
                            font__size--c1
                            font__weight--medium
                            font__color--primary
                            ">
                            {{ item.label }}
                        </span>
                    </a>
                </li>
            }
        </ul>

        <div class="semisection__container">
            <div class="search__container">
                <yd-input 
                    icon="search"
                    placeholder="Search"
                />
            </div>
            <div class="notifications__container">
                <yd-icon
                    class="icon-notifications"
                    name="bell"
                    size="large"
                    (click)="toggleNotifications()"
                />
                <yd-notifications
                    [dropdownIsOpen]="notificationsDropdownIsOpen()"
                />
            </div>


            <div class="user__container">
                <img 
                    [src]="profileImg()"
                    width="30"
                    height="30"
                    alt="company-logo"
                    (click)="toggleSettings()"
                    >
                <yd-user-dropdow-menu
                    (signOutEmit)="handleSignOut()"
                    (toggleEmit)="handleToggleSettingsEmmit($event)"
                    [fullName]="fullName()"
                    [profileImg]="profileImg()"
                    [dropdownIsOpen]="settingsDropdownIsOpen()"
                    [settingsMenu]="settingsMenu()"
                    [username]="username()"
                />
            </div>
        </div>

    </section>
</nav>

