<nav>
    @if (routerLogo().length < 1) {
        <a routerLink="../">
            <img 
                [ngSrc]="companyLogo()"
                width="30"
                height="30"
                alt="company-logo"
            >
        </a>
    } @else {
        <img 
            [ngSrc]="companyLogo()"
            width="30"
            height="30"
            alt="company-logo"
        >
    }
    <section class="right-block">
        <ul>
            @for (item of navMenu(); track $index) {
                <li>
                    <yd-icon
                        [name]="item.icon"
                    />
                    <span class="
                        font__size--c1
                        font__weight--medium
                        font__color--primary
                        ">
                        {{ item.label }}
                    </span>
                </li>
            }
        </ul>

        <div class="semisection__container">
            <div class="notifications__container">
                <yd-icon
                    name="bell"
                    size="large"
                />
            </div>
    
            <div class="user__container">
                <img 
                    [ngSrc]="profileImg()"
                    width="30"
                    height="30"
                    alt="company-logo"
                >
            </div>
        </div>

    </section>
</nav>

